html,body{
    margin: 0; padding: 0 
}
ul,li{
    list-style-type: none;
}
a{
    color: #95979d; 
    text-decoration: none;}
span,em,strong,a{
    display: inline-block;
}
*{
    margin: 0;
    font-family: '';
    font-size: 14px;
    font-family: 'arial';
    box-sizing:border-box;
    color: #95979d;
}