@import url("common.css");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
#wrap {
    width: 1366px;
    margin: 0 auto;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 36px 98px;
    display: flex;
    justify-content: space-between;
}
header h1 {
    align-items: center;
}
header h1 a {
    animation: rotate 3s linear infinite;
}
@keyframes rotate{
    from{transform: rotateY(180deg);}
    to{transform: rotateY(-180deg)}
}
header h1 a img {
    width: 31px;
    height: 25px;
}
header nav {
}
header nav ul {
}
header nav ul li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 30px;
}
header nav ul li:hover a {
    color: #21bfb9;
}
header nav ul li a {
    font-size: 12px;
    position: relative;
}
header nav ul li a:after {
    content: "";
    background: #21bfb9;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -3px;
    opacity: 0;
    transition: 0.3s;
}
header nav ul li a:hover:after {
    opacity: 1;
    left: 0;
    width: 100%;
}

section {
    width: 100%;
    position: relative;
}
section article {
}
section .visual {
    height: 313px;
    text-align: center;
    background: #f6f6f6;
}

section article h2 {
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    color: #171717;
    padding-top: 95px;
    transition: 1.5s;
}
section article p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #787878;
    padding: 25px 0 95px;
    line-height: 28px;
}
section .visual:hover h2 {
    font-size: 48px;
    color: #21bfb9;
}

section .box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
section article ul {
    font-size: 0;
}
section article ul li {
    display: inline-block;
    width: 341px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

section article ul:nth-of-type(2n) {
    display: flex;
    flex-direction: row-reverse;
}

section article ul li:nth-of-type(odd) {
    background: #ddd;
}
section article ul li:nth-of-type(even) {
    background: #666
}
section article ul li img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
section article ul li:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #21bfb9 url(../img/eye.png) no-repeat center;
    opacity: 0;
    transition: 0.3s;
}
section article ul li:hover:after{
    opacity: 0.7;
}
section article ul li:hover img{
    transform: scale(1.5);
}

footer {
    width: 100%;
    color: #fff;
    background: #141414;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 94px 98px;
}
footer div {
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer h2 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}
footer p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}
footer nav {
    display: flex;
    justify-content: space-between;
}
footer nav ul {
    width: 80px;
}
footer nav ul li {
    padding: 3px 0;
}
